# variables for Mosesserver
MOSES_ROOT=/Users/vasco/mt/mosesdecoder/
MOSES_MODELS=/Users/vasco/mt/models/en-es/
MOSES_URL=127.0.0.1
MOSES_PORT=7777
MOSES_LOG=/Users/vasco/mt/logs/moses.log

# variables for MT server
MTSERVER_ROOT=/Users/vasco/unbabel/matecat_util
MTSERVER_URL=127.0.0.1
MTSERVER_PORT=8888
MTSERVER_SRCLNG=en
MTSERVER_TGTLNG=es

# variables for XMLRPC
XMLRPC_ROOT=/usr/local

export MOSES_ROOT=${MOSES_ROOT}
export MOSES_MODELS=${MOSES_MODELS}
export MOSES_URL=${MOSES_URL}
export MOSES_PORT=${MOSES_PORT}
export MOSES_LOG=${MOSES_LOG}

export MTSERVER_ROOT=${MTSERVER_ROOT}
export MTSERVER_URL=${MTSERVER_URL}
export MTSERVER_PORT=${MTSERVER_PORT}
export MTSERVER_SRCLNG=${MTSERVER_SRCLNG}
export MTSERVER_TGTLNG=${MTSERVER_TGTLNG}

export XMLRPC_ROOT=${XMLRPC_ROOT}

#for Linux
export LD_LIBRARY_PATH=${XMLRPC_ROOT}/lib:${LD_LIBRARY_PATH}

#for Mac
export DYLD_LIBRARY_PATH=${XMLRPC_ROOT}/lib:${DYLD_LIBRARY_PATH}

